main {
    margin: 6rem 1rem;

    h1 {
        text-align: center;
    }

    hr {
        width: 60%;
        height: 2px;
        border: none;
        border-radius: 20px;
        background-color: rgba(128, 128, 128, 0.527);
    }
}